@import url("./font-awesome.min.css");

.input-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

@font-face {
    font-family: "Times New Roman";
    /*src: url("");*/
}

.navbar-brand{
    font-family: KacstTitle;
    /*font-size: 1.2rem ;*/
    font-weight: 500 ;
}

#forgotPwd span:hover {
    text-shadow: 0 0 5px #fff;
}

#forgotPwd span {
    display: block;
    overflow: hidden;
}

#forgotPwd {
    height: 36px;
    margin-bottom: 8px;
    text-align: right;
    cursor: pointer;
}

#forgotPwd span {
    font-size: 11px;
    padding-right: 5px;
}